//component

.location_box{
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url('../img/Magpie+Itaewon.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  img{
    display: block;
    width: 100vw;
  }
  .locationTextBox{
    display: flex;
    justify-content: center;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    .locationText{
      width: 400px;
      text-align: center;
      margin: 0 100px;
      background: rgba(180,180,180,0.7);
      .info{
        margin: 50px 0;
        h3{
          color:$fontColorBasic;
        }
        p{
          color:$fontColorBasic;
        }
      }
    }
  }
}

.inner{
  width:1200px;
  margin: 0 auto;
  .box{
    display: flex;
    .items{
      box-sizing: border-box;
      flex: 100%;
      flex-shrink: 0;
      padding: 50px 0;
      font-size: $fontSizeMid;
      .title{
        font-size: $titleFontSizeBig;
      }
      img{
        width: 100%;
      }
      .seasonList{
        margin: 50px 0;
        img{
          float: left;
          width: 280px;
          height: 550px;
          margin: 20px 10px 50px 10px;
        }
      }
      .productList{
        display: flex;
        margin: 50px 0;
        .productItem{
          display: flex;
          flex-direction: column;
          p{
            margin: 0;
          }
        }
        img{
          display: block;
          float: left;
          width: 280px;
          height: 400px;
          margin: 20px 10px 50px 10px;
        }
      }
    }
    .introTexItems{
      display: flex;
      flex: 50%;
      background: #eaeaea;
      .introText{
        position: relative;
        padding: 0 40px;
        font-size: $fontSizeBig;
        line-height: 40px;
        img{
          position: absolute;
          top:-20px;
          left:20px;
          width: 15%;
        }
        h3{
          font-size: 30px;
          color:#ffffff;;
          background: #000000;
          padding: 10px 0;
          text-align: center;
        }
      }
    }
    .ci{
      display: flex;
      justify-content: center;
      img{
        width: 20%;
        margin: 0 100px;
      }
      .ciText{
      }
    }
    .centerTitle{
      text-align: center;
      .leftAlign{
        text-align: left;
        margin: 0 67.5px;
      }
      .customer_info{
        margin: 25px 67.5px;
        .nameBox{
          display: flex;
          justify-content: space-between;
          .inputBox{
            width: 48%;
            display: inline-block;
            position: relative;
            margin: 20px 0 ;
            #nameVal{
              position: relative;
              width: 100%;
              height: 40px;
              font-size: $fontSizeMid;
              margin:0 0 30px 0;
              padding: 0;
              box-sizing: border-box;
            }
            span{
              position: absolute;
              top:45px;
              left:0;
              font-size: $fontSizeNormal;
            }
          }
        }
        .emailBox{
          .inputBox{
            margin: 20px 0 30px 0 ;
            #emailVal{
              width:100%;
              height: 40px;
              font-size: $fontSizeMid;
              margin:0 0 00px 0;
              padding: 0;
              box-sizing: border-box;
            }
          }
        }
      }
      .checkList{
        margin: 25px 67.5px;
        h2{
          font-size: $fontSizeMid;
        }
        p{
          font-size: $fontSizeNormal;
          color:#999999;
          margin: 5px 0 ;
          font-weight: normal;
        }
        .checkItem{
          font-size: $fontSizeNormal;
          font-weight: normal;
        }
      }
      .submitBox{
        p{
          font-size: $fontSizeNormal;
          color:#999999;
          margin: 5px 0 ;
        }
        textarea{
          width: 100%;
        }
        .btnBox{
          display: flex;
          justify-content: center;
          margin: 50px 0;
          a.gbtn{

          }
        }

      }
    }
    .classes{
      flex:50%;
      img{
        display: block;
        width: 80%;
        margin: 0 10%;
      }
      .classInfo{
        text-align: left;
        margin: 0 10%;
        h2{
          text-align: center;
          font-size: $fontSizeBig;
          color:#ffffff;
          background: #000000;
          padding: 10px 0;
        }
        ul{
          li{
            list-style: inside;
            line-height: 30px;
          }
        }
        p.tour_info{
          margin-bottom: 50px;
          line-height: 30px;
          a{
            font-weight: bolder;
            color:#000000;
            text-decoration: underline;
          }
        }
      }
    }
    .faqBox{
      cursor: default;
      margin-bottom: 50px;

      .q_box{
        font-size: $fontSizeBig;
        line-height: 30px;
        color:#ffffff;;
        background: #000000;
        h3{
          padding: 5px 0 5px 10px;
        }
      }
      .a_box{
        a{
          color: #000000;
          font-weight: bolder;
          text-decoration: underline;
        }
      }
    }
    &.items_2{
      .items{
        flex: 50%;
      }
    }
  }
}

//genernal button
.gbtn{
  display: inline-block;
  box-sizing: border-box;
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: $gbtnColor;
  color: white;
  border: 1px solid $gbtnColor;
  &:hover{
    color: $gbtnColor;
    background: white;
  }
}

//table component
::-webkit-scrollbar{
  width:6px;
}

::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.tbl_content::-webkit-scrollbar {
  display: none;
}


table{
  width: 100%;
  table-layout: fixed;
  cursor: default;
  & + .gbtn{
    margin: 20px 0 50px;
    float: right;
  }
  tr{
    text-align: center;
    th{
      padding: 20px 15px;
      // text-align: left;
      font-weight: 500;
      font-size: $fontSizeNormal;
      color: #ffffff;
      text-transform: uppercase;
    }
    td{
      padding: 15px;
      // text-align: left;
      vertical-align: middle;
      font-weight: 300;
      font-size: $fontSizeNormal;
      color: $fontColorDark;
      border-bottom: 1px solid $borderColorPrimary;

    }
  }

}

.tbl_header{
  margin-top: 50px;
  background-color: #666666;
}

.tbl_content{
  margin-bottom: 50px;
  background-color: #eaeaea;
  table{
    tr:hover{
      background-color: rgba(201, 199, 179, 0.8);
      td{
        font-weight: 700;
      }
    }
  }
  a.gbtn{
    // display: block;
  }

}
