//변수처리

//site width
$siteWidth: 1320px;

//text size
$fontSizeSmall: 12px;
$fontSizeNormal: 16px;
$fontSizeMid: 18px;
$fontSizeBig: 21px;

//title text size
$titleFontSizeSmall: 21px;
$titleFontSizeNormal: 24px;
$titleFontSizeMid: 26px;
$titleFontSizeBig: 32px;

//color

//background color
$layoutBg: #f9f9f9;

//font color
$fontColorBasic: #ffffff;
$fontColorDark: #000000;
$fontColorPrimary: #ffffff;//#b8944d
$fontColorHover: #ffffff;

//border color
$borderColorPrimary: #666666;
$borderColorDark: #999999;

//button color
$gbtnColor: #666666;
$gbtnColorHover: #e3a936;

//table color
$tableColorPrimary: #999999 ;
